.custom-send-btn {
  background-color: #992525 !important;
  color: white !important;
  border: none;
  border-radius: 3px;
  margin-left: 460px;
}
.form-label{
    margin-left: 25px;
}
.custom-subscribe-btn{
  background-color: #992525 !important;
  color: white !important;
  border: none;
  margin-top: 50px;
}


